{% extends 'base.html.twig' %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block title %}Listado de Categoria{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">

                        Listado de Categoria

                        <div class="float-end">
                            <a href="{{ path('cCreate') }}" class="btn btn-sm squred btn-primary">Crear</a>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Categoria</th>
                                    {# <th>Activo</th> #}
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <td>{{ category.name }}</td>
                                        {# <td>{{ category.active }}</td> #}
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Third group">
                                                <a href="{{ path('cShow',{'id' : category.id}) }}" class="btn btn-sm squred btn-info mr-1"> Ver </a>
                                                <a href="{{ path('cEdit',{'id' : category.id}) }}" class="btn btn-sm squred btn-warning mr-1"> Editar </a>
                                                <a href="javascript:void(0)" onclick="return confirm('are you sure you want to delete this record?')" class="btn btn-sm squred btn-danger mr-1"> Eliminar </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>   
                    </div>
                </div>
            </div>
        </div>
    </div>            
{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}
