{% extends 'base.html.twig' %}

{% block title %}Mostrar Producto{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">

                        Mostrar Producto

                        <div class="float-end">
                            <a href="{{ path('products') }}" class="btn btn-sm squred btn-primary">Regresar</a>
                        </div>
                    </div>

                    <div class="card-body">
                        <ul>
                            <li>Name: {{ product.name }}</li>
                            <li>Code: {{ product.code }}</li>
                            <li>Description: {{ product.description }}</li>
                            <li>Drand: {{ product.brand }}</li>
                            <li>Price: {{ product.price }}</li>
                            <li>Category: {{ product.category.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
