<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel='stylesheet' href='{{ asset('Css/bootstrap/bootstrap.min.css') }}'>
            <link rel='stylesheet' href='{{ asset('Css/style.css') }}'>
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}

        <main class="py-4">
            {% include 'alerts.html.twig' %}
           
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            <script src='{{ asset('Js/jquery.min.js') }}'></script>
            <script src='{{ asset('Js/popper.min.js') }}'></script>
            <script src='{{ asset('Js/bootstrap.min.js') }}'></script>
        {% endblock %}
    </body>
</html>
